{
    "swagger": "2.0",
    "info": {
        "title": "Fatsecret",
        "description": "Fatsecret Platform API",
        "termsOfService": "https://platform.fatsecret.com/api/Default.aspx?screen=tou",
        "version": ""
    },
    "host": "platform.fatsecret.com",
    "basePath": "/",
    "schemes": [ "http" ],
    "produces": [ "application/json" ],
    "consumes": [ "application/json" ],
    "paths": {
        "/rest/server.api": {
            "get": {
                "summary": "Returns saved food diary entries for the user according to the filter specified",
                "description": "https://platform.fatsecret.com/api/Default.aspx?screen=rapiref&method=food_entries.get",
                "operationId": "FatsecretMeal",
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "MUST be food_entries.get",
                        "type": "string",
                        "default": "food_entries.get",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "date",
                        "description": "The number of days since January 1, 1970 (default value is the current day)",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "d",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "format",
                        "description": "The desired response format.",
                        "type": "string",
                        "enum": ["xml", "json"],
                        "default": "json" 
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request."
                    }
                },
                "tags": [ ],
                "security": [
                    {
                        "oauth1": [ ]
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "oauth1": {
            "type": "oauth1",
            "description": "OAuth1a Flow",
            "requestUrl": "http://www.fatsecret.com/oauth/request_token",
            "authorizationUrl": "http://www.fatsecret.com/oauth/authorize",
            "tokenUrl": "http://www.fatsecret.com/oauth/access_token",
            "in": "body",
            "x-custom-scheme-support": true
        }
    },
    "definitions": [ ]
}

