{
    "swagger": "2.0",
    "info": {
        "title": "Fitbit",
        "description": "Fitbit API",
        "termsOfService": "https://dev.fitbit.com/terms",
        "version": "1"
    },
    "host": "api.fitbit.com",
    "basePath": "/1",
    "schemes": [ "https" ],
    "produces": [ "application/json" ],
    "consumes": [ "application/json" ],
    "paths": {
        "/user/-/profile.json": {
            "get": {
                "summary": "The Get Profile endpoint returns a user's profile",
                "description": "https://dev.fitbit.com/docs/user/#get-profile",
                "operationId": "FitbitProfile",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful request."
                    }
                },
                "tags": [ ],
                "security": [
                    {
                        "oauth2": [ "profile" ]
                    }
                ]
            }
        },
        "/user/-/sleep/date/{date}.json": {
            "get": {
                "summary": "The Get Sleep Logs endpoint returns a summary and list of a user's sleep log entries as well as minute by minute sleep entry data for a given day in the format requested",
                "description": "https://dev.fitbit.com/docs/sleep/#get-sleep-logs",
                "operationId": "FitbitSleep",
                "parameters": [
                    {
                        "in": "path",
                        "name": "date",
                        "description": "The date of records to be returned. In the format yyyy-MM-dd",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "yyyy-MM-dd",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request."
                    }
                },
                "tags": [ ],
                "security": [
                    {
                        "oauth2": [ "sleep" ]
                    }
                ]
            }
        },
        "/user/-/activities/steps/date/{date}/1d/1min.json": {
            "get": {
                "summary": "The Get Activity Time Series endpoint returns time series data for a specific date",
                "description": "https://dev.fitbit.com/docs/activity/#get-activity-intraday-time-series",
                "operationId": "FitbitIntradayStepsBulk",
                "parameters": [
                    {
                        "in": "path",
                        "name": "date",
                        "description": "The date, in the format yyyy-MM-dd or today",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "yyyy-MM-dd",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request."
                    }
                },
                "tags": [ ],
                "security": [
                    {
                        "oauth2": [ "activity" ]
                    }
                ]
            }
        },
        "/user/-/activities/steps/date/{startdate}/{enddate}/1min/time/{starttime}/{endtime}.json": {
            "get": {
                "summary": "The Get Activity Time Series endpoint returns time series data for a specific time range. NOTE THAT THIS TIME RANGE CANNOT EXCEED 24 HOURS",
                "description": "https://dev.fitbit.com/docs/activity/#get-activity-intraday-time-series",
                "operationId": "FitbitIntradaySteps",
                "parameters": [
                    {
                        "in": "path",
                        "name": "startdate",
                        "description": "The start date, in the format yyyy-MM-dd or today",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "yyyy-MM-dd",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "enddate",
                        "description": "The end date, in the format yyyy-MM-dd or today",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "yyyy-MM-dd",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "starttime",
                        "description": "The start of the period, in the format HH:mm",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "HH:mm",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "endtime",
                        "description": "The end of the period, in the format HH:mm",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "HH:mm",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request."
                    }
                },
                "tags": [ ],
                "security": [
                    {
                        "oauth2": [ "activity" ]
                    }
                ]
            }
        },
        "/user/-/activities/heart/date/{date}/1d/1min.json": {
            "get": {
                "summary": "The Get Heart Rate Time Series endpoint returns time series data for a specific date",
                "description": "https://dev.fitbit.com/docs/heart-rate/#get-heart-rate-intraday-time-series",
                "operationId": "FitbitIntradayHeartRateBulk",
                "parameters": [
                    {
                        "in": "path",
                        "name": "date",
                        "description": "The date, in the format yyyy-MM-dd or today",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "yyyy-MM-dd",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request."
                    }
                },
                "tags": [ ],
                "security": [
                    {
                        "oauth2": [ "heartrate" ]
                    }
                ]
            }
        },
        "/user/-/activities/heart/date/{startdate}/{enddate}/1min/time/{starttime}/{endtime}.json": {
            "get": {
                "summary": "The Get Heart Rate Time Series endpoint endpoint returns time series data for a specific time range. NOTE THAT THIS TIME RANGE CANNOT EXCEED 24 HOURS",
                "description": "https://dev.fitbit.com/docs/heart-rate/#get-heart-rate-intraday-time-series",
                "operationId": "FitbitIntradayHeartRate",
                "parameters": [
                    {
                        "in": "path",
                        "name": "startdate",
                        "description": "The start date, in the format yyyy-MM-dd or today",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "yyyy-MM-dd",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "enddate",
                        "description": "The end date, in the format yyyy-MM-dd or today",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "yyyy-MM-dd",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "starttime",
                        "description": "The start of the period, in the format HH:mm",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "HH:mm",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "endtime",
                        "description": "The end of the period, in the format HH:mm",
                        "type": "string",
                        "format": "date-time",
                        "pattern": "HH:mm",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request."
                    }
                },
                "tags": [ ],
                "security": [
                    {
                        "oauth2": [ "heartrate" ]
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "oauth2Code": {
            "type": "oauth2",
            "description": "OAuth2 Access Code Grant",
            "flow": "accessCode",
            "authorizationUrl": "https://www.fitbit.com/oauth2/authorize",
            "tokenUrl": "https://api.fitbit.com/oauth2/token",
            "name": "Bearer",
            "in": "header", 
            "x-grant-types": [ "authorization_code", "refresh_token" ],
            "x-response-types": [ "code" ],
            "scopes": {
                "sleep": "The sleep scope includes sleep logs and related sleep analysis",
                "activity": "The activity scope includes activity data and exercise log related features, such as steps, distance, calories burned, and active minutes",
                "heartrate": "The heartrate scope includes the continuous heart rate data and related analysis",
                "profile": "The profile scope is the basic user information"
            }
        },
        "oauth2Token": {
            "type": "oauth2",
            "description": "OAuth2 Implicit Grant",
            "flow": "implicit",
            "authorizationUrl": "https://www.fitbit.com/oauth2/authorize",
            "name": "Bearer",
            "in": "header",
            "x-response-types": [ "token" ],
            "x-custom-scheme-support": true,
            "scopes": {
                "sleep": "The sleep scope includes sleep logs and related sleep analysis",
                "activity": "The activity scope includes activity data and exercise log related features, such as steps, distance, calories burned, and active minutes",
                "heartrate": "The heartrate scope includes the continuous heart rate data and related analysis",
                "profile": "The profile scope is the basic user information"
            }
        }
    },
    "definitions": [ ]
}
