{//https://api.linkedin.com/v1/people/~?format=json

    "swagger": "2.0",
    "info": {
        "title": "LinkedIn",
        "description": "Linkedin API",
        "termsOfService": "https://developer.linkedin.com/legal/api-terms-of-use",
        "version": "1"
    },
    "host": "api.linkedin.com",
    "basePath": "/v1",
    "schemes": [ "https" ],
    "produces": [ "application/json" ],
    "consumes": [ "application/json" ],
    "paths": {
        "/people/~": {
            "get": {
                "summary": "Basic profile data",
                "description": "https://developer.linkedin.com/docs/signin-with-linkedin",
                "operationId": "LinkedinPersonal",
                "parameters": [
                    {
                        "in": "query",
                        "name": "format",
                        "description": "the format of the response",
                        "type": "string",
                        "default": "json",
                        "enum": ["json", "xml"], 
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request."
                    }
                },
                "tags": [ ],
                "security": [
                    {
                        "oauth2": ["r_basicprofile" ]
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "oauth2Code": {
            "type": "oauth2",
            "description": "OAuth2 Access Code Grant",
            "flow": "accessCode",
            "authorizationUrl": "https://www.linkedin.com/uas/oauth2/authorization",
            "tokenUrl": "https://www.linkedin.com/uas/oauth2/accessToken",
            "x-token-name": "Bearer",
            "x-scope-delimiter": " ",
            "x-grant-types": [ "authorization_code" ],
            "x-response-types": [ "code" ],
            "scopes": {
                "r_basicprofile": "",
                "w_share": "",
                "r_emailaddress": "",
                "rw_company_admin": ""
            }
        }
    },
    "definitions": [ ]
}
