{
    "swagger": "2.0",
    "info": {
        "title": "MicrosoftBing",
        "description": "Bing API",
        "termsOfService": "http://research.microsoft.com/en-us/um/legal/CognitiveServicesTerms20160804.htm",
        "version": ""
    },
    "host": "speech.platform.bing.com",
    "basePath": "/",
    "schemes": [ "https" ],
    "produces": [ "application/json" ],
    "consumes": [ "audio/wav", "application/json" ],
    "paths": {
        "/recognize": {
            "post": {
                "summary": "Converts speech into text",
                "description": "https://www.microsoft.com/cognitive-services/en-us/Speech-api/documentation/API-Reference-REST/BingVoiceRecognition",
                "operationId": "MicrosoftBingSpeechToText",
                "parameters": [
                    {
                        "in": "query",
                        "name": "version",
                        "description": "The API version being used by the client",
                        "type": "string",
                        "default": "3.0",
                        "required": true
                    },
					{
                        "in": "query",
                        "name": "requestid",
                        "description": "A globally unique identifier generated by the client for this request",
                        "type": "string",
						"format": "uuid",
                        "required": true
                    },
					{
                        "in": "query",
                        "name": "appID",
                        "description": "A globally unique identifier used for this application",
                        "type": "string",
						"format": "uuid",
                        "default": "D4D52672-91D7-4C74-8AD8-42B1D98141A5",
                        "required": true
                    },
					{
                        "in": "query",
                        "name": "format",
                        "description": "Specifies the desired format of the returned data",
                        "type": "string",
                        "default": "json",
                        "required": true
                    },
					{
                        "in": "query",
                        "name": "locale",
                        "description": "Language code of the audio content in IETF RFC 5646",
                        "type": "string",
                        "default": "en-US",
						"enum": [ "ar-EG", "en-IN", "fr-FR", "pt-BR", "ca-ES", "en-NZ", "it-IT", "pt-PT", "da-DK", "en-US", "ja-JP", "ru-RU", "de-DE", "es-ES", "ko-KR", "sv-SE", "en-AU", "es-MX", "nb-NO", "zh-CN", "en-CA", "fi-FI", "nl-NL", "zh-HK", "en-GB", "fr-CA", "pl-PL", "zh-TW" ],
                        "required": true
                    },
					{
                        "in": "query",
                        "name": "device.os",
                        "description": "Operating system the client is running on. This is an open field but we encourage clients to use it consistently across devices and applications",
                        "type": "string",
                        "default": "Unknown",
						"enum": ["Unknown", "Windows OS", "Windows Phone OS", "XBOX", "Android", "iPhone OS"],
                        "required": true
                    },
					{
                        "in": "query",
                        "name": "scenarios",
                        "description": "The context for performing a recognition",
                        "type": "string",
                        "default": "ulm",
						"enum": [ "ulm", "websearch" ],
                        "required": true
                    },
					{
                        "in": "query",
                        "name": "instanceid",
                        "description": "A globally unique device identifier of the device making the request",
                        "type": "string",
						"format": "uuid",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request."
                    }
                },
                "tags": [],
                "security": []
            }
        }
    },
    "securityDefinitions": {
        "subscriptionKey": {
            "type": "keyJwtExchange",
            "description": "Key for Json Web Token Exchange",
            "tokenUrl": "https://api.cognitive.microsoft.com/sts/v1.0/issueToken",
            "x-key-name": "Ocp-Apim-Subscription-Key",
            "x-token-name": "Bearer",
            "x-key-location": "header"
        }
    },
    "definitions": []
}
