<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Monkey.Robotics" version="0.5.2" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="Portable.BouncyCastle" version="1.8.1" targetFramework="xamarinios10" />
  <package id="Restsharp.BleedingEdge" version="105.3.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="xamarinios10" />
</packages>